Makefile
Makefile.in
*.lo
*.o
.deps
.libs
config.*
*.pyc
aclocal.m4
autom4te.cache/
build/
configure
docs/manual/manual.html
libtool
libudis86/itab.c
libudis86/itab.h
libudis86/libudis86.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
tests/ovrrun
tests/test_dis
tests/test_invalid_seg.asm
tests/testjmp.out
udcli/udcli
tests/testgen__*
tests/*.bin
tests/*.out
