Makefile
Makefile.in
*.lo
*.o
.*.swp
.deps
.libs
config.*
*.pyc
aclocal.m4
autom4te.cache/
build/
configure
docs/manual/html/
docs/manual/texinfo/
docs/manual/udis86.info
libtool
libudis86/itab.c
libudis86/itab.h
libudis86/libudis86.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
tests/ovrrun
tests/test_dis
tests/sym_resolver
tests/test_invalid_seg.asm
tests/testjmp.out
udcli/udcli
tests/_results/
tests/*.bin
tests/*.out
tests/libcheck
tests/difftest.sh
scripts/ud_*asmtest*

# Ignore distcheck outut
udis86-1.*

# Ignore C++ Builder history folders
libudis86/__history/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sdf
[Ii]pch
[Bb]uild
[Bb]in
[Dd]ebug*/
*.sbr
obj/
Win32/
x64/
[Rr]elease*/
_ReSharper*/
*.tar.gz
tests/bufoverrun
tests/symresolve
