html body {font: 76%/1.4em Arial, Helvetica, sans-serif;}
html>body {font: 76%/1.4em Arial, Helvetica, sans-serif;}

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#wrapper { width: 750px; }

#content a {
	text-decoration: none;
	// border-bottom: 1px solid;
}

#content {
	margin-left: 40px;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 1em;
	vertical-align: top;
}


#banner h1 {
    font: 5em "georgia", "serif";
    padding-bottom: 2px;
    margin-bottom: 4px;
}

#banner h2 {
    font: 2em "helvetica", "arial";
    color: #888;
    padding-top: 0px;
    margin-top : 0px;
}

#intro {
    font: 1.2em "helvetica", "arial";
    line-height: 1.8em;
    color: #444;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    margin-bottom: 1em;
}

#topbar {
	margin-top: 0px;
	padding: 1em;
	background-color: skyblue;
	color: navy;
}

#topbar h1 {
	padding: 0;
	margin: 0;
	font: 2em, sans-serif;
	font-weight: bold;
}

#get-udis86 {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}    
#menu {
}
.box {
	background-color: #efefef;
	border: 1px dotted #aaa;
	padding: .5em;
}

.more a {
    text-decoration: none;
    border-bottom: 0;
}

li {
	margin-bottom: .5em;
}

pre {
	padding: .5em;	
//	background-color: #f5f5f5;
	background-color: lightyellow;
	font-size: 1.1em;
//	border: 1px solid #999;
}

code {
	font-size: 1.2em;
}

ul {
	margin: 1em;
}
